<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list order</title>
</head>
<body>

<table>
    <tr>
    <th>编号</th>
    <th>名称</th>
    <th>content</th>
    <th>time</th>
    <th>user</th>
    <th>操作</th>
    </tr>
    <tr>
{% for b in page %}
            <tr>
    <td>{{ b.id }}</td>
    <td>{{ b.title }}</td>
    <td>{{ b.content }}</td>
    <td>{{ b.updated_time }}</td>
    <td>{{ b.user_id }}</td>
    <td><a href="/orders/update_order/{{b.id}}">update</a>
        <a href="/orders/delete_order?id={{b.id}}">delete</a>
    </td>
</tr>

{% endfor %}
    </table>

{% if page.has_previous %}
<a href="{% url 'list' %}?page={{ page.previous_page_number }}">上一页</a>
{% else %}
上一页
{% endif %}

{% for p in paginator.page_range %}
    {% if p == page.number %}
        {{ p }}
    {% else %}
        <a href="{% url 'list' %}?page={{ p }}">{{ p }}</a>
    {% endif %}
{% endfor %}

{% if page.has_next %}
<a href="{% url 'list' %}?page={{ page.next_page_number }}">下一页</a>
{% else %}
下一页
{% endif %}
</body>
</html>