<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/index_homepage.css" type="text/css">
</head>
<body style="background-color: white;">
    <header>
        <div class="top">
            <div id="addr">
                送至:<span id="prov"></span>
            </div>
            <table id="prov_list" class="hide">
                <tr>
                    <td>北京</td>
                    <td>天津</td>
                    <td>河北</td>
                    <td>山西</td>
                    <td>内蒙古</td>
                </tr>
                <tr>
                    <td>辽宁</td>
                    <td>吉林</td>
                    <td>黑龙江</td>
                    <td>上海</td>
                    <td>江苏</td>
                </tr>
                <tr>
                    <td>浙江</td>
                    <td>安徽</td>
                    <td>福建</td>
                    <td>江西</td>
                    <td>山东</td>
                </tr>
                <tr>
                    <td>河南</td>
                    <td>湖北</td>
                    <td>湖南</td>
                    <td>广东</td>
                    <td>广西</td>
                </tr>
                <tr>
                    <td>海南</td>
                    <td>重庆</td>
                    <td>四川</td>
                    <td>贵州</td>
                    <td>云南</td>
                </tr>
                <tr>
                    <td>西藏</td>
                    <td>陕西</td>
                    <td>甘肃</td>
                    <td>青海</td>
                    <td>宁夏</td>
                </tr>
                <tr>
                    <td>新疆</td>
                    <td>台湾</td>
                    <td>香港</td>
                    <td>澳门</td>
                    <td>钓鱼岛</td>
                </tr>
            </table>
            <div class="tools">
                <a href="#">登录</a>|
                <a href="#">注册</a>|
                <a href="#">收藏</a>|
                <a href="#">评论</a>|
                <a href="#">帮助</a>|
                <a href="#">客服</a>
            </div> 
        </div>
        <div class="floor0">
            <div class="logo">
                <a href="#"><img src="../static/images/logo.gif" alt=""></a>
            </div>
            <form action="#" method="get" class=search>
                <input type="text" name="keyword" class="search_text">
                <input type="submit" value=" " class="search_btn">
            </form>
            <a href="#">
                <div class="shopping_cart">
                    购物车
                </div>
            </a>
            <a href="#">
                <div class="order_list">
                    我的订单
                </div>
            </a>
        </div>
        <div class="floor1">
            <div class="all_classes">
                全部商品分类
            </div>
            <div class="guide">
                <div><a href="#">服装</a></div>
                <div><a href="#">箱包</a></div>
                <div><a href="#">饰品</a></div>
                <div><a href="#">美妆</a></div>
                <div><a href="#">食品</a></div>
                <div><a href="#">电子</a></div>
            </div>
        </div>
    </header>
    <main>
        <div class="floor2">
            <div class="rank">
                <ul>
                    <li><a href="#">排行</a></li>
                    <li><a href="#">XX</a></li>
                    <li><a href="#">XX</a></li>
                    <li><a href="#">XX</a></li>
                    <li><a href="#">XX</a></li>
                    <li><a href="#">XX</a></li>
                    <li><a href="#">XX</a></li>
                </ul>
            </div>
            <div class="banner">
                <!-- 轮播图父元素 -->
                <ul class="fader">
                    <!-- 每一张轮播图 -->
                    <!-- 使用JS生成轮播图的内容 -->
                    <li class="fader_controls">
                        <!-- 轮播图页标 -->
                        <ul class="pager_list">
                                FZLTSJW
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="announcement">
                <a href="#">公告</a>
            </div>
        </div>
        <div class="productsbox">
            <!-- 使用js加载所有的博客信息  -->
        </div>
    </main>   
    <footer>
        <div class="show">
            <div>
                <a href="#">正品保障</a>
            </div>
            <div>
                <a href="#">货到付款</a>
            </div>
            <div>
                <a href="#">次日到达</a>
            </div>
            <div>
                <a href="#">上门退换</a>
            </div>
        </div>
        <div class="help">
            <table>
                <tr>
                    <th>购物指南</th>
                    <th>支付方式</th>
                    <th>配送方式</th>
                    <th>退换货</th>
                </tr>
                <tr>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                </tr>
                <tr>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                    <td><a href="#">XX</a></td>
                </tr>
            </table>
        </div>
        <div class="popularize">
            <a href="#">公司简介</a>|
            <a href="#">诚聘英才</a>|
            <a href="#">网站联盟</a>|
            <a href="#">当当招商</a>
        </div>
        <div class="rights">
            <a href="#">XX网</a>
            <a href="#">XX号</a>
        </div>
    </footer>
    <script src="../static/js/products.data.js"></script>
    <script src="../static/js/fader.data.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.easyfader.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>