<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>产品详情页</title>
	 <link rel="icon" href="/static/assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages-item.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages-zoom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/widget-cartPanelView.css" />
    
    <script type="text/javascript" src="/static/plugins/angularjs/angular.min.js"> </script>
    <script type="text/javascript" src="/static/js/base.js"> </script>
    <script type="text/javascript" src="/static/js/controller/itemController.js"> </script>
    <script>
        var skuList=[
                     {
             id:1369282,
             title:'精品半身裙（秋款打折） 移动4G 16G',
             price:0.03,
             spec:{"网络":"移动4G","机身内存":"16G"}
           } ,
           {
             id:1369280,
             title:'精品半身裙（秋款打折） 移动3G 16G',
             price:0.01,
             spec:{"网络":"移动3G","机身内存":"16G"}
           } ,
           {
             id:1369281,
             title:'精品半身裙（秋款打折） 移动3G 32G',
             price:0.02,
             spec:{"网络":"移动3G","机身内存":"32G"}
           } ,
        ];
        
    </script>
	<style>
	.head_title_name{
		    font-size: 16px;
    line-height: 24px;
		}

	</style>

</head>

<body ng-app="pinyougou" >

<!--页面顶部 开始-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item">趣书网欢迎您！</li>
						<li class="f-item" id="loginuser">


						</li>
					</ul>
					<ul class="fr">
						<li class="f-item" id = 'myorder'>


						<script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
								<script type="text/javascript">
								 username = window.localStorage.getItem('dnblog_user');
     var html_body = ''
 			if(username!="" && username!= null)
            {
            	html_body += '<a href=/'+username+'/order>我的订单</a>';
            }
            else{
            	html_body += '<a href="/login" >我的订单</a>';
    		}
  $('#myorder').html(html_body);
								</script>

						</li>
						<li class="f-item space"></li>
						<li class="f-item"><a href="/index" >我的趣书网</a></li>
						<li class="f-item space"></li>
						<li class="f-item">趣书网会员</li>
						<li class="f-item space"></li>
						<li class="f-item">企业采购</li>
						<li class="f-item space"></li>
						<li class="f-item">关注趣书网</li>
						<li class="f-item space"></li>
						<li class="f-item" id="service">
							<span>客户服务</span>
							<ul class="service">
								<li><a href="cooperation.html" target="_blank">合作招商</a></li>
								<li><a href="shoplogin.html" target="_blank">商家后台</a></li>
								<li><a href="cooperation.html" target="_blank">合作招商</a></li>
								<li><a href="#">商家后台</a></li>
							</ul>
						</li>
						<li class="f-item space"></li>
						<li class="f-item">网站导航</li>
					</ul>
				</div>
			</div>
		</div>

		<!--头部-->
		<div class="header">
			<div class="py-container">
				<div class="yui3-g Logo">
					<div class="yui3-u Left logoArea">
						<a class="logo-bd" title="趣书网" href="/index" ></a>
					</div>
					<div class="yui3-u Center searchArea">
						<div class="search">
							<form action="" class="sui-form form-inline">
								<!--searchAutoComplete-->
								<div class="input-append">
									<input type="text" id="autocomplete" type="text" class="input-error input-xxlarge" />
									<button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
								</div>
							</form>
						</div>
						<div class="hotwords">
							<ul>
								<li class="f-item">趣书网首发</li>
								<li class="f-item">亿元优惠</li>
								<li class="f-item">9.9元团购</li>
								<li class="f-item">每满99减30</li>
								<li class="f-item">亿元优惠</li>
								<li class="f-item">9.9元团购</li>
								<li class="f-item">办公用品</li>

							</ul>
						</div>
					</div>
					<div class="yui3-u Right shopArea">
						<div class="fr shopcar">
							<div class="show-shopcar" id="shopcar">
								<span class="car"></span>

<!--								<script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>-->
								<script type="text/javascript">
								 username = window.localStorage.getItem('dnblog_user');
     var html_body = ''

 			if(username!="" && username!= null)
            {
            	html_body += '<a class="sui-btn btn-default btn-xlarge" href=/' + username + '/cart ><span>我的购物车</span><i class="shopnum">0</i></a>';
            }
            else{
            	html_body += '<a class="sui-btn btn-default btn-xlarge" href=/login><span>我的购物车</span><i class="shopnum">0</i></a>';
    		}
  $('.car').after(html_body);
								</script>

								<div class="clearfix shopcarlist" id="shopcarlist" style="display:none">
									<p>"啊哦，你的购物车还没有商品哦！"</p>
									<p>"啊哦，你的购物车还没有商品哦！"</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="yui3-g NavList">
					<div class="yui3-u Left all-sort">
						<h4>全部商品分类</h4>
					</div>
					<div class="yui3-u Center navArea">
						<ul class="nav">
							<li class="f-item">服装城</li>
							<li class="f-item">美妆馆</li>
							<li class="f-item">品优超市</li>
							<li class="f-item">全球购</li>
							<li class="f-item">闪购</li>
							<li class="f-item">团购</li>
							<li class="f-item">有趣</li>
							<li class="f-item"><a href="seckill-index.html" target="_blank">秒杀</a></li>
						</ul>
					</div>
					<div class="yui3-u Right"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--页面顶部 结束-->
	<div class="py-container">
		<div id="item">
			<div class="crumb-wrap">
				<ul class="sui-breadcrumb">
					<li>
						<a href="#">书籍</a>
					</li>
					<li>
						<a href="#">专著</a>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>
			<!--product-info-->
			<div class="product-info">
				<div id="proinfo" class="fl preview-wrap">
					<script>
					token = window.localStorage.getItem('dnblog_token');
    username = window.localStorage.getItem('dnblog_user');
     var html_body = ''
     var pid =window.location.href.substring(window.location.href.lastIndexOf("/")+1);
	var resultouter;
    $.ajax({
       // 请求方式
       type:"get",
       // url
       url:"http://47.94.174.118:8000/product/"+ pid,
       beforeSend: function(request) {
           request.setRequestHeader("Authorization", token);
       },
       success:function (result) {
       		console.log(result)

           if (200 == result.code){
            	resultouter=result;
                        var productname = result.productname;
                        var class_ids = result.class_ids;
                        var img = "http://47.94.174.118:5000" + result.img;
                        var img2 = "http://47.94.174.118:5000" +result.img2;
                        var img3 = "http://47.94.174.118:5000" +result.img3;
						var img4 = "http://47.94.174.118:5000" +result.img4;
						var img5 = "http://47.94.174.118:5000" +result.img5;
						var description=result.description;
						var price = result.price;
						var discount = result.discount;
						var amount = result.amount;
						var productor = result.productor;
						var author = result.author;
						var status = result.status;


			html_body += '		<div class="zoom">';

			html_body += '			<div id="preview" class="spec-preview">';
			html_body += '				<span class="jqzoom">';
			html_body += '				     <img jqimg="'+img+'" src="'+img+'" width="400px" height="400px" />';
			html_body += '				</span>';
			html_body += '			</div>';

			html_body += '			<div class="spec-scroll">';
			html_body += '				<a class="prev">&lt;</a>';

			html_body += '				<div class="items">';
			html_body += '					<ul>';
			html_body += '						  <li><img src="'+img2+'" bimg="'+img2+'" onmousemove="preview(this)" /></li>';
			html_body += '						  <li><img src="'+img3+'" bimg="'+img3+'" onmousemove="preview(this)" /></li>';
			html_body += '						  <li><img src="'+img4+'" bimg="'+img4+'" onmousemove="preview(this)" /></li>';

			html_body += '					</ul>';
			html_body += '				</div>';
			html_body += '				<a class="next">&gt;</a>';
			html_body += '			</div>';
			html_body += '		</div>';




   $('#proinfo').html(html_body);

    		}
    	}
})

    </script>




				</div>
				<div id="prodetail" class="fr itemInfo-wrap">
							<script>

    $.ajax({
       // 请求方式
       type:"get",
       // url
       url:"http://47.94.174.118:8000/product/"+ pid,
       beforeSend: function(request) {
           request.setRequestHeader("Authorization", token);
       },
       success:function (result) {
       		console.log(result)
           if (200 == result.code){

                        var productname = result.productname;
                        var class_ids = result.class_ids;

						var description=result.description;
						var price = result.price;
						var discount = result.discount;
						var amount = result.amount;
						var productor = result.productor;
						var author = result.author;
						var status = result.status;

   		var html_body = ''
		html_body += '	<div class="sku-name">';
		html_body += '				<h4>'+productname+'</h4>';

		html_body += ' <span class="head_title_name" title="'+description+'">';
    	html_body += '   	'+description+'</span>';
    	html_body += '<span class="hot" title="">';
    	html_body += '	        </span>';
		html_body += '			</div>';
		html_body += '			<div class="news"><span>打折促销 '+ discount+' 折</span></div>';
		html_body += '			<div class="summary">';
		html_body += '				<div class="summary-wrap">';
		html_body += '					<div class="fl title">';
		html_body += '						<i>价　　格</i>';
		html_body += '					</div>';
		html_body += '					<div class="fl price">';
		html_body += '						<i>¥</i>';
		html_body += '						<em>'+price+'</em>';
		html_body += '						<span>降价通知</span>';
		html_body += '					</div>';
		html_body += '					<div class="fr remark">';
		html_body += '						<i>累计评价</i><em>612188</em>';
		html_body += '					</div>';
		html_body += '				</div>';
		html_body += '				<div class="summary-wrap">';
		html_body += '					<div class="fl title">';
		html_body += '						<i>促　　销</i>';
		html_body += '					</div>';
		html_body += '					<div class="fl fix-width">';
		html_body += '						<i class="red-bg">加价购</i>';
		html_body += '						<em class="t-gray">满999.00另加20.00元，或满1999.00另加30.00元，或满2999.00另加40.00元，即可在购物车换购热销商品</em>';
		html_body += '					</div>';
		html_body += '							</div>';
		html_body += '						</div>';

		html_body += '			<div class="support">';
		html_body += '				<div class="summary-wrap">';
		html_body += '					<div class="fl title">';
		html_body += '						<i>支　　持</i>';
		html_body += '					</div>';

		html_body += '					<div class="fl fix-width">';
		html_body += '						<em class="t-gray">由“趣书”发货，并提供售后服务。 23:55前完成下单，预计明天(12月25日)可送达</em>';
		html_body += '					</div>';
		html_body += '				</div>';
		html_body += '				<div class="summary-wrap">';
		html_body += '					<div class="fl title">';
		html_body += '						<i>配 送 至</i>';
		html_body += '					</div>';
		html_body += '					<div class="fl fix-width">';
		html_body += '						<em class="t-gray">满999.00另加20.00元，或满1999.00另加30.00元，或满2999.00另加40.00元，即可在购物车换购热销商品</em>';
		html_body += '					</div>';
		html_body += '				</div>';
		html_body += '			</div>';
		html_body += '			<div class="clearfix choose">';
		html_body += '				<div id="specification" class="summary-wrap clearfix">';

		html_body += '					  <dl>';
		html_body += '						<dt>';
		html_body += '							<div class="fl title">';
		html_body += '							<i>关联商品</i>';
		html_body += '						</div>';
		html_body += '						</dt>';

		html_body += '						  <dd><a >浮生自在 徒步人海 活在这珍贵的人间 人间逍遥客';
		html_body += '						        <span title="点击取消选择">&nbsp;</span>';
		html_body += '						        </a></dd>';
		html_body += '						  <dd><a >此生须尽兴';
		html_body += '						        <span title="点击取消选择">&nbsp;</span>';
		html_body += '						        </a></dd>';
		html_body += '					  </dl>';

		html_body += '					  <dl>';
		html_body += '						<dt>';
		html_body += '							<div class="fl title">';
		html_body += '							<i>电子书加价购</i>';
		html_body += '						</div>';
		html_body += '						</dt>';

		html_body += '						  <dd><a>    +7.4元换购《时光太瘦，指缝太宽》';
		html_body += '						        <span title="点击取消选择">&nbsp;</span>';
		html_body += '						        </a></dd>';
		html_body += '						  <dd><a >作者1：丰子恺 等';
		html_body += '						        <span title="点击取消选择">&nbsp;</span>';
		html_body += '						        </a></dd>';
		html_body += '					  </dl>';
		html_body += '				</div>';
		html_body += '				<div class="summary-wrap">';
		html_body += '					<div class="fl title">';
		html_body += '						<div class="control-group">';
		html_body += '							<div class="controls">';
		html_body += '								<input autocomplete="off" ng-model="num" type="text" value="1" minnum="1" class="itxt" />';
		html_body += '								<a href="javascript:void(0)" class="increment plus" ng-click="addNum(1)">+</a>';
		html_body += '								<a href="javascript:void(0)" class="increment mins" ng-click="addNum(-1)">-</a>';
		html_body += '							</div>';
		html_body += '						</div>';
		html_body += '					</div>';
		html_body += '					<div class="fl">';
		html_body += '						<ul class="btn-choose unstyled">';
		html_body += '							<li>';
		html_body += '								<a  class="sui-btn  btn-danger addshopcar" onclick="addToCart()">加入购物车</a>';
		html_body += '							</li>';
		html_body += '						</ul>';
		html_body += '					</div>';
		html_body += '				</div>';
		html_body += '			</div>';




   $('#prodetail').html(html_body);

    		}
    	}
})

    </script>





				</div>
			</div>
			<!--product-detail-->

			<!--like-->
			<div class="clearfix"></div>
			<div class="like">
				<h4 class="kt">猜你喜欢</h4>
				<div class="like-list">
					<ul class="yui3-g">
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike01.png" />
								</div>
								<div class="attr">
									<em>活着</em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>99.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有6人评价</i>
								</div>
							</div>
						</li>
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike02.png" />
								</div>
								<div class="attr">
									<em> 人间失格 </em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>38.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有700人评价</i>
								</div>
							</div>
						</li>
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike03.png" />
								</div>
								<div class="attr">
									<em>皮囊 </em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>88.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有700人评价</i>
								</div>
							</div>
						</li>
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike04.png" />
								</div>
								<div class="attr">
									<em>生命简史 </em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>88.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有700人评价</i>
								</div>
							</div>
						</li>
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike05.png" />
								</div>
								<div class="attr">
									<em>晚熟的人 </em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>48.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有700人评价</i>
								</div>
							</div>
						</li>
						<li class="yui3-u-1-6">
							<div class="list-wrap">
								<div class="p-img">
									<img src="/static/img/_/itemlike06.png" />
								</div>
								<div class="attr">
									<em>8套卷</em>
								</div>
								<div class="price">
									<strong>
											<em>¥</em>
											<i>48.00</i>
										</strong>
								</div>
								<div class="commit">
									<i class="command">已有700人评价</i>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部栏位 -->
	
<!--页面底部  开始 -->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="Mod-service">
				<ul class="Mod-Service-list">
					<li class="grid-service-item intro  intro1">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro2">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro  intro3">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro4">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro intro5">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
				</ul>
			</div>
			<div class="clearfix Mod-list">
				<div class="yui3-g">
					<div class="yui3-u-1-6">
						<h4>购物指南</h4>
						<ul class="unstyled">
							<li>购物流程</li>
							<li>会员介绍</li>
							<li>生活旅行/团购</li>
							<li>常见问题</li>
							<li>购物指南</li>
						</ul>

					</div>
					<div class="yui3-u-1-6">
						<h4>配送方式</h4>
						<ul class="unstyled">
							<li>上门自提</li>
							<li>211限时达</li>
							<li>配送服务查询</li>
							<li>配送费收取标准</li>
							<li>海外配送</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>支付方式</h4>
						<ul class="unstyled">
							<li>货到付款</li>
							<li>在线支付</li>
							<li>分期付款</li>
							<li>邮局汇款</li>
							<li>公司转账</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>售后服务</h4>
						<ul class="unstyled">
							<li>售后政策</li>
							<li>价格保护</li>
							<li>退款说明</li>
							<li>返修/退换货</li>
							<li>取消订单</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>特色服务</h4>
						<ul class="unstyled">
							<li>夺宝岛</li>
							<li>DIY装机</li>
							<li>延保服务</li>
							<li>趣书网E卡</li>
							<li>趣书网通信</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>帮助中心</h4>
						<img src="img/wx_cz.jpg">
					</div>
				</div>
			</div>
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>关于我们<span class="space"></span></li>
					<li>联系我们<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>商家入驻<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们</li>
				</ul>
				<p>趣书网小组全体成员@武汉市武昌区达内中心</p>
				<p>联系电话：183#######&nbsp;&nbsp;&nbsp;邮箱:#####@qq.com</p>
			</div>
		</div>
	</div>
</div>

	
	<!--侧栏面板开始-->
<div class="J-global-toolbar">
	<div class="toolbar-wrap J-wrap">
		<div class="toolbar">
			<div class="toolbar-panels J-panel">

				<!-- 购物车 -->
				<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="" class="title"><i></i><em class="title">购物车</em></a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');" ></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div id="J-cart-tips" class="tbar-tipbox hide">
								<div class="tip-inner">
									<span class="tip-text">还没有登录，登录后商品将被保存</span>
									<a href="#none" class="tip-btn J-login">登录</a>
								</div>
							</div>
							<div id="J-cart-render">
								<!-- 列表 -->
								<div id="cart-list" class="tbar-cart-list">
								</div>
							</div>
						</div>
					</div>
					<!-- 小计 -->
					<div id="cart-footer" class="tbar-panel-footer J-panel-footer">
						<div class="tbar-checkout">
							<div class="jtc-number"> <strong class="J-count" id="cart-number">0</strong>件商品 </div>
							<div class="jtc-sum"> 共计：<strong class="J-total" id="cart-sum">¥0</strong> </div>
							<a class="jtc-btn J-btn" href="#none" target="_blank">去购物车结算</a>
						</div>
					</div>
				</div>

				<!-- 我的关注 -->
				<div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="#" target="_blank" class="title"> <i></i> <em class="title">我的关注</em> </a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div class="tbar-tipbox2">
								<div class="tip-inner"> <i class="i-loading"></i> </div>
							</div>
						</div>
					</div>
					<div class="tbar-panel-footer J-panel-footer"></div>
				</div>

				<!-- 我的足迹 -->
				<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="#" target="_blank" class="title"> <i></i> <em class="title">我的足迹</em> </a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div class="jt-history-wrap">
								<ul>
									<!--<li class="jth-item">
										<a href="#" class="img-wrap"> <img src=".portal/img/like_03.png" height="100" width="100" /> </a>
										<a class="add-cart-button" href="#" target="_blank">加入购物车</a>
										<a href="#" target="_blank" class="price">￥498.00</a>
									</li>
									<li class="jth-item">
										<a href="#" class="img-wrap"> <img src="portal/img/like_02.png" height="100" width="100" /></a>
										<a class="add-cart-button" href="#" target="_blank">加入购物车</a>
										<a href="#" target="_blank" class="price">￥498.00</a>
									</li>-->
								</ul>
								<a href="#" class="history-bottom-more" target="_blank">查看更多足迹商品 &gt;&gt;</a>
							</div>
						</div>
					</div>
					<div class="tbar-panel-footer J-panel-footer"></div>
				</div>

			</div>

			<div class="toolbar-header"></div>

			<!-- 侧栏按钮 -->
			<div class="toolbar-tabs J-tab">
				<div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="购物车" tag="cart" >
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count " id="tab-sub-cart-count">0</span>
				</div>
				<div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="我的关注" tag="follow" >
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count hide">0</span>
				</div>
				<div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="我的足迹" tag="history" >
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count hide">0</span>
				</div>
			</div>

			<div class="toolbar-footer">
				<div class="toolbar-tab tbar-tab-top" > <a href="#"> <i class="tab-ico  "></i> <em class="footer-tab-text">顶部</em> </a> </div>
				<div class="toolbar-tab tbar-tab-feedback" > <a href="#" target="_blank"> <i class="tab-ico"></i> <em class="footer-tab-text ">反馈</em> </a> </div>
			</div>

			<div class="toolbar-mini"></div>

		</div>

		<div id="J-toolbar-load-hook"></div>

	</div>
</div>

<script type="text/template" id="tbar-cart-item-template">
	<div class="tbar-cart-item" >
		<div class="jtc-item-promo">
			<em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
			<div class="promo-text">已购满600元，您可领赠品</div>
		</div>
		<div class="jtc-item-goods">
			<span class="p-img"><a href="#" target="_blank"><img src="{2}" alt="{1}" height="50" width="50" /></a></span>
			<div class="p-name">
				<a href="#">{1}</a>
			</div>
			<div class="p-price"><strong>¥{3}</strong>×{4} </div>
			<a href="#none" class="p-del J-del">删除</a>
		</div>
	</div>
</script>
<script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
function addToCart(){
		username = window.localStorage.getItem('dnblog_user');
		token = window.localStorage.getItem('dnblog_token');
		 var pid =window.location.href.substring(window.location.href.lastIndexOf("/")+1);
		var post_data={"pid":pid };
			if(username=="" || username==null)
            {
            	 window.location.href= '/login';
            }

    $.ajax({
       // 请求方式
       type:"put",
        data:JSON.stringify(post_data),
        contentType:'application/json',
		dataType:'json',
       // url
       url:"http://47.94.174.118:8000/cart/"+ username,
       beforeSend: function(request) {
           request.setRequestHeader("Authorization", token);
       },
       success:function (result) {
       		console.log(result)

				window.location.href='/'+ username+ '/cart';


    	}
})
}
 function logout(){

            if(confirm("确定登出吗？")){
                window.localStorage.removeItem('dnblog_token');
                window.localStorage.removeItem('dnblog_user');
                window.localStorage.removeItem('dnblog_user_nick');
                window.localStorage.removeItem('dnblog_user_img');
                window.location.href= '/index';
            }
        }
$(function(){
	$("#service").hover(function(){
		$(".service").show();
	},function(){
		$(".service").hide();
	});
	$("#shopcar").hover(function(){
		$("#shopcarlist").show();
	},function(){
		$("#shopcarlist").hide();
	});

    nickname=window.localStorage.getItem('dnblog_user_nick');
     var html_body = ''
 			if(nickname!="" && nickname!= null)
            {
            	html_body += '<a href="change_info" >'+nickname+'</a>　<span onclick=logout() ><a href="/index" >退出</a></span>';
            }
            else{
            	html_body += '请<a href="/login" >登录</a>　<span><a href="/register" >免费注册</a></span>';
    		}
  $('#loginuser').html(html_body);
})
</script>
<script type="text/javascript" src="/static/js/model/cartModel.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.jqzoom/jquery.jqzoom.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.jqzoom/zoom.js"></script>
<!--<script type="text/javascript" src="/static/index/index.js"></script>-->

<!--页面底部  结束 -->
</body>

</html>