<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/static/css/login_reglogin.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
		<div class="bg">
				<img src="/static/images/c.jpg" alt="">
			</div>

	<div id='test'></div>

	<div class="main">
		<div class="header" >
			<h1>创建一个新账户！</h1>
		</div>
		<p></p>
				<ul class="left-form">
					<h2>新账户:</h2>
					<li>
            <input type="text" class="username" name="username" placeholder="请输入用户名" required maxlength="11"/>
						<div class="clear"> </div>
					</li> 
					<li>
            <input type="email" class="email" name="email" placeholder="请输入邮箱" required />
						<div class="clear"> </div>
					</li> 

					<li>
            <input type="phone" class="phone" name="phone"  placeholder="13426018419" required/>
						 <input type="button" id="sms" onclick="sendSMS(); settime(this)" value="免费获取验证码">
						<div class="clear"> </div>
					</li> 
					<li>
            <input type="sms_num" class="sms_num" name="sms_num" placeholder="请输入验证码" required />
						<div class="clear"> </div>

			<li>
            <input type="password" class="password_1" name="password_1" placeholder="请输入密码" required minlength="6" maxlength="11"/>
						<div class="clear"> </div>
            </li>
            <li>
              <input type="password" class="password_2" name="password_2" placeholder="请再次确认密码" required minlength="6" maxlength="11"/>
              <div class="clear"> </div>
            </li>
            <li style="border:none">
				<input type="button" onclick="register()" value="创建并登录">
            </li>
				</ul>
				<div class="clear"> </div>
	</div>
</body>
    <script>
    	function register()
    	{
    		var username = $('.username').val();
    		var email=$('.email').val();
    		var password1= $('.password_1').val();
    		var password2= $('.password_2').val();
    		var phone =  $('.phone').val();
    		var code = $('.sms_num').val();
    		var post_data={"username":username,"email":email,"password1":password1,"password2":password2,"phone":phone,"code":code}
    		console.log(post_data)
    		$.ajax({
    			url:'http://127.0.0.1:8000/users/',
    			type:'POST',
    			//响应格式,不是请求格式(contentType)
    			dataType:'json',
    			data: JSON.stringify(post_data),
    			contentType:'application/json',
    			success:function(res){
    				if(res.code==200){
    					console.log(res);
    					alert('注册成功');
    					//本地存储token
    					window.localStorage.setItem('dnblog_token',res.data.token);
    					window.localStorage.setItem('dnblog_user',res.username);
    				}else{
    					alert('失败');
    				}
    			}
    		})
    	}
        function getQueryVariable(variable)
        {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
            }
            return null;
        }

	var countdown=60;
	function settime(obj) {
    	if (countdown == 0) {
        	obj.removeAttribute("disabled");
        	obj.value="免费获取验证码";
			countdown = 60;
        	return;
    	} else {
        	obj.setAttribute("disabled", true);
        	obj.value="重新发送(" + countdown + ")";
        	countdown--;
    	}
		setTimeout(function() {
    		settime(obj) }
    	,1000)
	}
	function sendSMS(){
		var phone=$('.phone').val();
		var post_data={"phone":phone };
		$.ajax({
			url:'http://127.0.0.1:8000/users/sms',
			type:'POST',
			data:JSON.stringify(post_data),
			contentType:'application/json',
			dataType:'json',
			success:function(res){
				if(res.code==200){
					alert('短信验证码已发送到您的手机，请查收');
				}else{
					alert(res.error);
				}
			}
		})
	}
    </script>
</html>
