<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user login</title>
</head>
<body>
login
<!--<form action="" method="post">-->
<p>
    account :<input type="text" id="username" name="username">
</p>
    <p>
        password: <input type="password" id="password" name="password">
    </p>
    <p>
        <input type="checkbox" name="remember">remember me
    </p>
    <p>
        <input id="btn" type="submit" value="login">
        <div id="show"></div>
    </p>
<!--</form>-->
</body>
<script src="/static/js/jquery-1.11.3.js"></script>
<script>
 $(function(){
        $('#btn').click(function(){
           username= $('#username').val();
            password=$('#password').val();
            data = {username:username,password:password}
           $.ajax({
           url:'/users/login',
           data: data,
           type:'post',
           success:function(res){
                $('#show').html(res)
           }
           })
        })
    })
</script>
</html>