<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg </title>
</head>
<body>
reg
<!--<form action="/users/reg" method="post">-->
    <p>
        account: <input id="username" type="text" name="username">
    </p>
    <p>
        password: <input id="password1" type="text" name="password1">
    </p>
    <p>
        repeat password: <input id="password2" type="text" name="password2">
    </p>
    <input id='btn' type="submit" value="regsiter">
    <div id="show"></div>

<!--</form>-->
<script src="/static/js/jquery-1.11.3.js"></script>
<script>
 $(function(){
        $('#btn').click(function(){
            username= $('#username').val();
            password1=$('#password1').val();
            password2=$('#password2').val();
            data = {username:username,password1:password1,password2:password2}
           $.ajax({
           url:'/users/reg',
           data: data,
           type:'post',
           success:function(res){
                $('#show').html(res)
           }
           })
        })
    })
</script>
</body>
</html>