.w {
	width: 1850px;
	margin: auto;
}
.header {
	height: 82px;
    /* border-bottom: 2px solid #b1191a; */
    margin-left: 350px;
}
.logo {
	padding-top: 15px;
}
.registerarea {
    background-image: url("/static/images/backimage.jpg");
    background-position-x: -400px;
	height: 600px;
	/* border: 1px solid #ccc; */
	margin-top: 20px;
}
/* .registerarea  */
/* .registerarea h3 em {
	float: right;
	font-size: 14px;
} */
.registerarea a {
	color: #c81623;
}
.reg_form {
	width: 425px;
    height: 300px;
    background-color:#e0ffff;
    margin: 140px 370px 0 0;
    float: right;
}

.reg_form h3 {
	height: 40px;
	border-bottom: 1px solid #ccc;
	background-color: #ececec;
    margin-bottom: 40px;
	font-weight: 400;
	line-height: 40px;
    font-size: 18px;
    text-align: center;
}

.reg_form li {
	margin-bottom: 15px;
}
.reg_form label {
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: right;
	font-size: 18px;
}
.inp {
	width: 238px;
	height: 34px;
	border: 1px solid #ccc;
	margin-left: 10px;
} 

.error {
	color: #df3033;
	margin-left: 10px;
}

.error_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/static/images/error.png) no-repeat;
	vertical-align: middle;
	margin-top: -2px;
}

.reg_form a {
	font-size: 15px;
	float: right;
	margin-right: 30px;
}
a:hover {
	cursor: pointer;
	color: red;
	text-decoration:underline;
}

/* 获取验证码样式 */
#sms {
	width: 120px;
	height: 36px;
	border: 1px solid #ccc;
	text-align: center;
	margin-left: -123px;
}

.over {
	width: 200px;
	height: 34px;
	background-color: #c81623;
	margin: 30px 0 0 125px;
	border: none;
	color: #fff;
	font-size: 20px;

}
.over:hover{
	background-color: red;
	cursor: pointer;
}

.footer {
	height: 120px;
	text-align: center;
}
.links {
	margin-top: 20px;
	height: 30px;
}
.copyright {
	line-height: 20px;
}



